# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
.metadata

# Melos
.melos/

# Flutter/Dart/Pub related
# Libraries should not include pubspec.lock, per https://dart.dev/guides/libraries/private-files#pubspeclock.
/pubspec.lock
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/

# Example (flutter create extras)

example/android/
example/ios/
example/linux/
example/macos/
example/test/
example/windows/
example/web/
example/build/
example/.dart_tool/
example/.metadata
example/.gitignore
example/pubspec.lock